.object {
    position: absolute;
}
.van {
    top: 45%;
    left: 1%;
}

#axis:hover .move-right{
    transform: translate(200px,0);
    -webkit-transform: translate(200px,0); /** Chrome & Safari **/
    -o-transform: translate(200px,0); /** Opera **/
    -moz-transform: translate(200px,0); /** Firefox **/
}

.object {
    position: absolute;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out; /** Opera **/
}